// Functional values
$darken-value: 8%;
$lighten-value: 12%;

// Colors
$page-bg-color: #f8f8f8;
$text-color: #333333;
$primary-color: #10b5df;
$secondary-color: #ffffff;
$success-color: #3cb043;
$warning-color: #f0a150;
$danger-color: #db2a41;
$border-color: #c8c8c8;
$disabled-color: #d6d6d6;

// Fonts
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
'Droid Sans', 'Helvetica Neue', sans-serif;
$base-font-size: 1rem;

// Radii
$border-radius: 0.3rem;

// Shadows
$standard-shadow: rgb(0 0 0 / 15%) 0 8px 14px -5px;
